<form [formGroup]="form">
  <div *ngIf="currentSignInSession && currentSignInSession.sessionCodes">
    <mat-form-field>
      <mat-label>Select a code</mat-label>
      <mat-select formControlName="qrCode" [disabled]="isRecycling">
        <mat-option
          *ngFor="let code of currentSignInSession.sessionCodes"
          [value]="code"
        >
          {{ code.code }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-button (click)="cyclingQrCode()">
    <span *ngIf="!isRecycling">Cycle</span>
    <span *ngIf="isRecycling">Stop</span>
  </button>

  <mat-divider></mat-divider>
  <div *ngIf="error" class="errorMessage">
    <div>QR code cycle error:</div>
    <div>{{ error.error.message }}</div>
  </div>

  <div *ngIf="!error && currentQrCodeImageUrl" class="center">
    <img id="current-qrcode" class="center" [src]="currentQrCodeImageUrl" />
  </div>
</form>
