<div class="row justify-content-center">
  <div class="col-xl-7 col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center">
    <h1>Conestoga Computer Science Club</h1>
    <hr />
    <br />
    <div *ngIf="authToken == null || user == null">
      <button (click)="openModal('login-modal')" class="btn btn-primary">
        Log in
      </button>
      <button (click)="openModal('register-modal')" class="btn btn-primary">
        Sign up
      </button>

      <jw-modal id="login-modal">
        <app-login></app-login>
      </jw-modal>

      <jw-modal id="register-modal">
        <app-sign-up></app-sign-up>
      </jw-modal>
    </div>
    <div *ngIf="authToken != null">
      <button (click)="dispatchLogout()" class="btn btn-primary">Logout</button>
      <p *ngIf="user != null">{{ user.name }}</p>
    </div>
  </div>
</div>
