<mat-toolbar>
  <mat-toolbar-row>
    <span>StogaCS</span>
    <span class="flex-fill"></span>
    <span *ngIf="authToken == null && user == null">
      <button mat-button (click)="openLogin()">
        Log in
      </button>
      <span class="spacer-4"></span>
      <button mat-button (click)="openRegistration()">
        Sign up
      </button>
    </span>
    <span *ngIf="authToken != null && user != null">
      <button mat-button (click)="openScanner()">
        Scan code
      </button>
      <span class="spacer-4"></span>
      <button mat-button (click)="dispatchLogout()">
        Logout
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
