<mat-toolbar>
  <mat-toolbar-row>
    <span (click)="reload()" class="link">StogaCS</span>
    <span class="flex-fill"></span>
    <span *ngIf="authToken == null && user == null">
      <button mat-button (click)="openLogin()">
        Log in
      </button>
      <span class="spacer-4"></span>
      <button mat-button (click)="openRegistration()">
        Sign up
      </button>
    </span>
    <span *ngIf="authToken != null">
      <button mat-button (click)="dispatchLogout()">
        Logout
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>

<br />

<div *ngIf="authToken != null && user != null">
  <app-user-info [user]="user" [meetings]="meetings" [currentMeeting]="currentMeeting"></app-user-info>
</div>

<mat-toolbar class="pin-bottom">
  <mat-toolbar-row>
    <mat-action-row>
      <mat-spinner *ngIf="authToken != null && user == null" [diameter]="20" class="pending-spinner"></mat-spinner>
      <button
        mat-button
        matTooltip="Scan a session QR code"
        *ngIf="authToken != null && user != null"
        (click)="openScanner()"
      >
        <img
          src="../../../assets/scan.svg"
          alt="open-scanner"
          title="Scan code"
        />
      </button>
    </mat-action-row>
  </mat-toolbar-row>
</mat-toolbar>
