<h1 mat-dialog-title>Scan code</h1>
<mat-divider></mat-divider>
<br />

<div *ngIf="availableCameras.length === 0">
  No cameras available
</div>

<zxing-scanner
  #scanner
  [formats]="allowedFormats"
  (camerasFound)="setAvailableCameras($event)"
  (scanSuccess)="handleScan($event)"
></zxing-scanner>

<div>
  Camera:
  <mat-button-toggle-group name="cameras">
    <ng-template ngFor let-item [ngForOf]="availableCameras">
      <mat-button-toggle (click)="setCamera(item)">
        {{ item.label }}
      </mat-button-toggle>
    </ng-template>
  </mat-button-toggle-group>
</div>
<br />

<button mat-button (click)="close()">Cancel</button>
