<mat-card>
  <mat-card-title>{{ user.name }}</mat-card-title>
  <mat-card-subtitle>
    {{ user.email }}
    <br />
    ({{ user.id }})
  </mat-card-subtitle>
  <mat-card-content>
    <mat-divider></mat-divider>
    <br />

    <div *ngIf="user.roles.includes('ADMIN')">
      <h2>Manage Meetings</h2>
      <app-admin-dashboard [meetings]="meetings"></app-admin-dashboard>

      <br />
      <mat-divider></mat-divider>
      <br />
    </div>

    <h2>Sign-In Requests</h2>
    <div *ngIf="signInRequests.length === 0">
      None
    </div>
    <mat-accordion>
      <ng-template ngFor let-request [ngForOf]="signInRequests">
        <mat-expansion-panel
          (opened)="getRequestSession(request.sessionId)"
          (closed)="clearCurrentSession()"
          class="request-details"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ request.success ? "Successful" : "Failed" }},
              {{ formatISODate(request.time) }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div>
              <span class="bold">Information</span>
            </div>
            <br />
            <div>
              <span class="bold">Meta</span>
              <div>
                Time (ISO) -
                <span class="code">{{ request.time }}Z</span>
              </div>
              <div>
                Request ID -
                <span class="code">{{ request.id.substring(0, 20) }}...</span>
              </div>
              <div *ngIf="currentSignInSession !== null">
                <div>
                  Session ID -
                  <span class="code">
                    {{ currentSignInSession.id.substring(0, 20) }}...
                  </span>
                </div>
                <div>
                  Meeting ID -
                  <span class="code">
                    {{ currentSignInSession.meetingId }}
                  </span>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>
      </ng-template>
    </mat-accordion>
  </mat-card-content>
</mat-card>
